html
	head
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="/style/custom.css")
	body
		nav.nav.bg-light.p-3
			a.nav-link.active(href='#') ExpressJS
			a.nav-link(href='/') Home
			a.nav-link(href='/users') Users
		block content